body{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

ul{
	list-style-type: none;
	margin: auto;
	padding: 0px;

}

a{
	cursor: pointer;
}

#main-container{
	height: 100%;
	margin: 0px;
	padding: 0px;
	position: absolute;
	overflow-y: auto;
}

.center_form{
	width: 100%;
	max-width: 420px;
	margin: 0 auto;
}

/* HOME */
#home_adds{
	max-width: 10%;
	background-color: green;
	padding: 0px;
}

#home_rooms{
	max-width: 65%;
	background-color: blue;
	padding: 0px;
	overflow-y: scroll;
}

.room_list_row{
	position: relative;
	width: 100%;
	min-height: 170px;
	background-color: #fff;
	color: #000;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	margin: 0px;
	margin-bottom: 1%;
}

#home_community{
	max-width: 25%;
	padding: 0px;
	background-color: #fff;
	position: relative;
}

#player_list{
	overflow-y: scroll;
	max-height: 45%;
	padding: 0px;
	margin-bottom: 1%;
	position: relative;

}

.player_list_row{
	border-bottom: 1px solid black;
}

#chat{
	overflow-y: hidden;
	max-height: 50%;
	padding: 0px;
	position: relative;
}
#chat_chat{
	min-height: 72%;
	background-color: #FFF;
	position: relative;
	margin-bottom: 6px;
	position: relative;
}
#chat_field{
	max-height: 24%;
	min-height: 24%;
	background-color: #fff;
	position: relative;
}


#home_rooms::-webkit-scrollbar, #player_list::-webkit-scrollbar, #chat::-webkit-scrollbar { width: 0 !important }
#home_rooms, #player_list, #chat { -ms-overflow-style: none; }

.popup{
	display: none;
	position: relative;
	width: 100%;
	
}


/* FONT AWESOME */
<style>
.fa {
  padding: 0px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
</style>