<div class="text-dark" id="chat_chat">
	<ul>
		<li class="text-danger">Chat disabled.......</li>
	</ul>
</div>
<div class="text-dark" id="chat_field">
	<div class="form-group">
		<textarea class="w-100 h-100 form-control" style="" rows="4" placeholder="Your text here..."></textarea>
	</div>
</div>