<div class="text-dark" id="chat_chat">
	<ul class="messages_list">
		<li class="text-danger chat-disabled">Chat disabled.......</li>
	</ul>
</div>
<div class="text-dark" id="chat_field">
	<div class="form-group">
		<textarea id="chat_send" class="w-100 h-100 form-control" style="" rows="4" placeholder="Your text here..."></textarea>
	</div>
</div>